@import "tailwindcss";
@import "@repo/tailwind-config";

@source "../../../../packages/ui/src";
@source "../../../../packages/form/src";

@theme {
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
